* {
    padding: 0;
    margin: 0;
}

:root {
    --amarelo: #F9A44C;
    --azul: #4888FF;
    --roxo: #864AFF;
    --branco: #fff;
    --vermelho: #AB3434;
    --cinza-claro: #f9f9f9;
    --cinza-d1: #d1d1d1;
    --grafite: #161616;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--grafite);
    color: var(--cinza-d1);
}

h1 {
    font-weight: bold;
    font-size: 2em;
    line-height: 1em;
}

h2 {
    font-size: 1em;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

header {
    position: fixed;
    background-color: var(--grafite);
    width: 100%;
    z-index: 10;
}

.navbar {
    justify-content: space-between;
    margin: auto;
    max-width: 1000px;
}

.logo-navbar {
    width: 70px;
    padding-block: 15px
}

.links-navbar {
    padding: 10px 10px;
    color: var(--cinza-d1);
}

.links-navbar:hover {
    transition: 200ms;
    color: var(--amarelo);
}

.links>:last-child {
    padding-left: 40px;
}

.hero-text>h1 {
    font-size: 3em;
    line-height: 1em;
    text-align: left;
}

.container-hero {
    padding-block: 80px 40px;
    margin: auto;
    padding-inline: 20px;

}

.hero-text {
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 450px;
}

.espeto-giratorio-aleggra {
    color: var(--cinza-d1);
    border-right: 1px solid var(--amarelo);
    width: fit-content;
    font-size: 0.7em;
    font-weight: 100;
    padding-right: 20px;
    padding-block: 15px;
    letter-spacing: .4em;
    margin: 0px;
    text-align: left;
    margin-left: 3px;
}

.espeto-giratorio-wrapper {
    flex-wrap: nowrap;
    gap: 20px;
}

.espeto-giratorio-wrapper>img {
    width: 80px;
}

.hero-btns {
    gap: 20px;
    padding-block: 30px;
    font-weight: bold;
}

.hero-img {
    max-height: 100%;
    max-width: 100%;
    padding: 10px;
}

.hero-img>img {
    max-height: 100%;
    max-width: 180px;
    width: auto;
    height: auto;
    transform: rotate(-10deg);
    z-index: -1;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.comprar-btn,
.saiba-mais-btn {
    text-align: center;
    color: var(--cinza-d1);
    padding: 10px 50px;
    border: 1px solid var(--amarelo);
    border-radius: 100vw;
}

.comprar-btn:hover,
.saiba-mais-btn:hover {
    background-color: var(--amarelo);
    color: black;
    transition: all .3s ease-in-out;
}


.card-grid {
    display: grid;
    margin: auto;
    padding-inline: 16px;
    gap: 10px;
    padding-top: 50px;
}

.card-grid-item {
    border-radius: 0.4em;
    padding: 16px;
    background-color: var(--cinza-d1);
    color: var(--grafite);
    text-align: center;
    align-items: center;
    justify-content: center;
}

.card-title {
    padding-bottom: 20px;
}

.card-title>h1 {
    padding-block: 10px;
}

.praticidade>.card-title>p {
    max-width: 300px;
}

.inoxaisi304 {
    overflow: hidden;
}

.inoxaisi304>img {
    margin-bottom: -60px;
}

.como-funciona {
    padding-block: 40px;
}

.como-funciona>p {
    max-width: 300px;
}

.como-funciona>img {
    max-width: 110px;
    padding-block: 20px;
}


.como-funciona span {
    font-weight: bold;
}


.sua-carne-no-seu-ponto {
    flex-wrap: nowrap;
    text-wrap: nowrap;
}

.sua-carne-no-seu-ponto>h1 {
    text-align: left;
    font-size: 1.8em;
    line-height: 0.9em;
    margin-left: -1em;
    margin-top: -.8em;
}

.sua-carne-no-seu-ponto>img {
    max-width: 150px;
}

.materiais-do-espeto-card-wrapper {
    padding: 16px;
    gap: 30px 80px;
}

.materiais-do-espeto-card {
    min-width: 200px;
    flex-wrap: nowrap;
    gap: 20px;
}

.materiais-do-espeto-card>img {
    max-height: 100px;
    filter: saturate(0%) brightness(30%);

}

.materiais-do-espeto-card-text>h1,
.materiais-do-espeto-card-text>p {
    text-align: left;
    font-size: 1em;
}

.traco-materiais-do-espeto-card {
    border-left: 1px solid rgb(148, 148, 148);
    height: 60px;
}

footer {
    margin: 0;
    padding: 0;
    width: 100%;
}

.rodape {
    background-color: rgb(16, 16, 16);
    color: var(--cinza-d1);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 50px;
}

.rodape>img {
    max-width: 80px;
}

.rodape>p {
    font-size: 1.8em;
    text-align: center;
    line-height: 1.1em;
    max-width: 400px;
    padding-inline: 50px;

}

.links-rodape {
    flex-wrap: wrap;
    gap: 20px;
    padding-block: 5px;
    margin: auto;
}

.links-rodape>a {
    text-decoration: none;
    color: gray;
}

.links-rodape>a:hover,
a:focus {
    text-decoration: none;
    color: var(--amarelo);
    transition: color 200ms;
}

.container-card-espetos {
    gap: 20px;
}

.card-espetos-topo,
.card-espetos-baixo {
    gap: 20px;
}

.card-espetos {
    border: 2px solid var(--azul);
    background-color: var(--cinza-claro);
    padding: 40px;
    width: 200px;
    height: 350px;
    border-radius: 20px;
    color: rgb(47, 56, 68);
    overflow: hidden;
    transition: all .2s ease-in-out;
    text-indent: 0px;
    position: relative;
    text-align: left;
    background-color: var(--cinza-d1);
}

.card-espetos>img {
    max-width: 300px;
    position: absolute;
    bottom: -10px;
    right: 20px
}

.card-espetos:hover {
    transform: rotate(-0.7deg) scale(1.08);
    border-color: var(--amarelo);
    cursor: pointer;
}

.confira {
    position: absolute;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 100vw;
    border: 2px solid var(--azul);
    right: 30px;
    bottom: 30px;
    color: var(--azul);
    font-weight: bold;
}

.card-espetos:hover>.confira {
    color: inherit;
    border: inherit;
}

.conheca-os-modelos {
    padding-block: 40px;
}


.conheca-os-modelos-text {
    gap: 10px;
    padding-inline: 50px;
    padding-top: 100px;
    color: #d1d1d1;
}

.card-videos-wrapper {
    gap: 20px;
    padding: 50px 20px 100px 20px;
}

.card-video {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    max-width: 400px;
    width: auto;
    height: auto;
    overflow: hidden;
    background-color: var(--cinza-d1);
    padding: 40px;
    border-radius: 20px;
    text-align: left;
    border-top: 2px solid var(--amarelo);
}

.card-video-text-wrapper {
    max-width: 290px;
    padding-left: 10px;
}

.card-video-text-wrapper>p {
    color: var(--grafite);
    padding-bottom: 10px;
    font-size: 0.8em;
    letter-spacing: 1px;
}

.card-video-text-wrapper>h1 {
    padding-block: 5px;
    color: var(--grafite);
    font-size: 1.8em;
}

.card-video-text-wrapper>h2 {
    padding-bottom: 20px;
    font-weight: lighter;
    color: var(--grafite);
}


.video-crop {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    user-select: none;
    pointer-events: none;
}

.video-crop>video {
    max-width: 300px;
    margin: -5px;
}

.super-versatil-text {
    gap: 10px;
    padding-inline: 50px;
    text-align: center;
    margin: auto;
    padding-top: 100px;
}

/* ######  FAQ  ###### */

.container-faq-wrapper {
    padding-bottom: 50px;
}

.container-faq-wrapper>h1 {
    padding-bottom: 30px;
    padding-inline: 40px;
    text-align: center;

}

.faq-wrapper {
    width: 80%;
    max-width: 800px;
    height: fit-content;
    flex-wrap: nowrap;
    flex-grow: initial;
    gap: 10px;
    padding: 20px;
}

.faq-question>p {
    max-width: 90%;
}

.faq-question {
    width: 100%;
    cursor: pointer;
    padding: 20px 30px;
    text-align: left;
    font-size: 15px;
    transition: all 0.4s ease-in-out;
    justify-content: space-between;
    align-items: center;
    border-top: 0px solid rgb(56, 56, 56);
    background-color: #202020;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

.active,
.faq-question:hover {
    background-color: #4a4a4a;
    color: #ffffff;
}

.faq-answer {
    width: 100%;
    padding: 40px 30px;
    font-size: 1em;
    background-color: #f1f1f1;
    color: #1c1b1b;
    border-radius: 10px;
    display: none;
    overflow: hidden;
    transition: display 2s ease-out;
}

.faq-answer>h1 {
    padding-bottom: 20px;
    font-size: 1.5em;
}

.faq-answer>p {
    font-size: 1em;
    letter-spacing: .01em;
}

.faq-answer>strong {
    font-weight: bold;
}

.arrow {
    transition: transform 0.2s;
    transform: rotate(0deg);
}

.arrow:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-top: 2px solid rgb(158, 158, 158);
    border-right: 2px solid rgb(158, 158, 158);
    transform: translate(3px, -2px) rotate(45deg);
}

.arrow.down {
    transform: translateY(-50%) rotate(90deg);
}

/* ###### CARD GRID SIMPLES ##### */

.card-grid-simples {
    max-width: 1000px;
    padding-block: 40px;
    margin: auto;
    display: grid;
    gap: 10px;
}

.simples-com-garra {
    justify-content: space-around;
}

.simples-com-garra>img {
    max-height: 70%;
}

.garra {
    gap: 40px;
    text-align: center;
}

.garra>img {
    transform: scale(1.22) translateY(-10px);
}

.praticidade {
    gap: 30px;
    flex-wrap: nowrap;
}

.praticidade>img {
    transform: scale(1.1) translate(-5px, 10px);
}

/* ##### CARD GRID DUPLO #######0 */

.card-grid-duplo {
    padding-block: 40px;
    margin: auto;
    display: grid;
    gap: 10px;
}

.card-grid-duplo>.card-grid-item {
    background-color: #d1d1d1;

}

.espeto-duplo-principal {
    padding: 0;
    overflow: hidden;
    grid-area: espeto-duplo-principal;

}

.detalhe-ponteira-espeto-duplo {
    padding: 0;
    overflow: hidden;
    grid-area: detalhe-ponteira-espeto-duplo;
}

.ponta-desmontada-espeto-duplo {
    padding: 0;
    overflow: hidden;
    grid-area: ponta-desmontada-espeto-duplo;
}

.espeto-duplo-desmontado {
    padding: 0;
    overflow: hidden;
    grid-area: espeto-duplo-desmontado;
}

/* ##### CARD GRID TRIPLO ###### */

.card-grid-triplo {
    padding-block: 40px;
    margin: auto;
    display: grid;
    gap: 10px;
}


.triplo-principal,
.triplo-em-pe,
.triplo-desmontado {
    padding: 0;
    overflow: hidden;
}


.card-grid-petiscos {
    padding-block: 40px;
    margin: auto;
    display: grid;
    gap: 10px;
}

.petiscos-em-pe {
    padding: 0;
    overflow: hidden;
}

.petiscos-principal {
    padding: 0;
    overflow: hidden;
}


/* #### GRID AREAS ADRESSING #### */



.triplo-principal {
    grid-area: triplo-principal;
}

.triplo-em-pe {
    grid-area: triplo-em-pe;
}

.triplo-desmontado {
    grid-area: triplo-desmontado;
}

.simples-com-garra {
    grid-area: simples-com-garra;
}

.sua-carne-no-seu-ponto {
    grid-area: sua-carne;
}

.como-funciona {
    grid-area: como-funciona;
}

.garra {
    grid-area: garra;
}

.praticidade {
    grid-area: praticidade;
}

.inoxaisi304 {
    grid-area: inoxaisi304;
}

.suporta {
    grid-area: suporta;
}

.regulavel {
    grid-area: regulavel;
}

.materiais-do-espeto {
    grid-area: materiais;
}

.petiscos-principal {
    grid-area: petiscos-principal;
}

.petiscos-em-pe {
    grid-area: petiscos-em-pe;
}


/* ###### HERO ESPETOS ###### */

.hero-espetos-wrapper {
    background-color: var(--cinza-d1);
    color: var(--grafite);
}

.hero-espetos {
    max-width: 2000px;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-block: 120px 60px;
    padding-inline: 20px;
}

.hero-espetos-title {
    align-items: flex-start;
    gap: 10px;
}

.hero-espetos-title>h1 {
    font-size: 4em;
}

.content-title {
    margin: auto;
    text-align: center;
    color: white;
    padding: 40px;
}

.specs-grid-container-fundo-preto {
    display: grid;
    grid-template-columns: 1fr 10px 1fr;
    gap: 10px 10px;
    color: #ffffff;
    text-indent: 0px;
}

.especificacoes-tecnicas {
    margin: auto;
    padding: 20px;
}

.especificacoes-tecnicas-wrapper {
    padding: 40px 20px;
    border: 1px solid var(--amarelo);
    border-radius: 10px;
    margin-bottom: 60px;
    background-color: #101010;
}

.especificacoes-tecnicas-wrapper>h1 {
    text-align: center;
    padding-bottom: 50px;
}

.specs-grid-item-name,
.specs-grid-item-value {
    padding: 5px;
    margin: auto 0px;
    letter-spacing: .05em;
    max-width: 10em;

}

.specs-grid-item-name {
    text-align: right;
    font-weight: bold;
}

.specs-grid-item-line {
    margin-top: 3px;
    height: 1px;
    background-color: var(--amarelo);
    width: 10px;
    margin: auto;
}

.specs-grid-item-value {
    text-align: left;
    font-weight: normal;
}

.object-fit-cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.highlight-on-page {
    color: var(--amarelo);
}


/* ########## MANUAL ########## */
.span-red {
    color: #c7c7c7;
}

.span-yellow {
    color: #c7c7c7;

}

.span-blue {
    color: #c7c7c7;
}

.img-manual {
    margin-top: 50px;
    max-width: 80%;
    max-height: 500px;
    margin-bottom: 60px;

}

.content-header {
    padding-top: 60px;
    margin: auto;
}

.header-manual {
    width: clamp(300px, 50%, 600px);
    font-size: 2.5em;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    line-height: 1em;
}

.baixar-manual-btn {
    padding: 10px 30px;
    background-color: var(--amarelo);
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
    border-radius: 500px;
    transition: all 1s;
}

.baixar-manual-btn:focus,
.baixar-manual-btn:hover {
    transform: scale(1.1);

}

.container-btn-manual {
    gap: 30px;
    padding: 0px 20px;
    margin-top: 40px;
    flex-wrap: wrap;
    text-wrap: balance;
}

.subtitulo-btn-manual {
    width: clamp(300px, 50%, 600px);
    font-weight: 500;
    font-size: 1.2em;
    color: white;
    text-align: center;
}

.container-manual {
    color: #c7c7c7;
    background-color: var(--grafite);
}

.como-usar-o-espeto>p {
    text-indent: 0px;
}

.text-manual {
    width: clamp(200px, 80%, 600px);
    max-width: 600px;
    text-indent: 1.5em;
}

.text-manual p {
    font-size: 1.2em;
}

.text-manual-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: -20px;

}

.text-manual-img-container img {
    width: clamp(200px, 90%, 400px);
}

.text-manual p,
h3 {
    margin-bottom: 20px;
}

.text-manual h2,
h3 {
    text-indent: 0px;
}

.text-manual h2 {
    margin-top: 60px;
    font-size: 1.2em;
    letter-spacing: .1em;
    color: var(--amarelo);
    font-weight: bold;

}

.text-manual h3 {
    color: var(--amarelo);
    font-size: 0.9em;
    letter-spacing: .15em;
    font-weight: bold;

}

.text-manual h4 {
    margin-bottom: 20px;
    margin-top: 60px;
    font-size: 0.9em;
    letter-spacing: .15em;
    color: var(--amarelo);
    font-weight: bold;


}

.text-manual span {
    font-weight: bold;
}

.temperatura-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.temperatura {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    text-wrap: nowrap;
    width: clamp(200px, 80%, 500px);
    font-size: 0.7em;
    margin-top: 20px;
    margin-bottom: 40px;
    gap: 30px;
    overflow: hidden;
    text-indent: 0px;
}

.temperatura p {
    margin: 0;
}

.temperatura h4 {
    color: var(--vermelho);
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

.temperatura-graus {
    margin-top: 30px;
    padding-top: 5px;
}

.temperatura-tempo {
    color: var(--vermelho);
    font-weight: bold;
    padding-top: 5px;
}

.bovino img,
.suino img {
    max-height: 50px;
}

.ovino img {
    max-height: 60px;
}

.teste-mao {
    border: var(--amarelo);
    border-style: solid;
    border-width: 1px;
    padding: 50px;
    margin-top: 60px;
}

.teste-mao h4 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0px;
    text-wrap: nowrap;
    text-indent: 0px;
    letter-spacing: 0.1em;
    font-size: 1.1em;
}

.teste-mao-text {
    font-size: 3em;
    text-align: center;
    text-indent: 0px;
    margin-bottom: 0px;
}

.controle-temperatura {
    margin-bottom: 20px;
}

.dicas-de-seguranca-container {
    border: var(--amarelo);
    border-width: 1px;
    border-style: solid;
    text-indent: 0px;
    padding: 50px;
    margin: 80px auto;
}

.dicas-de-seguranca-container>div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}

.dicas-de-seguranca-container>div>img {
    width: 60px;
}

.dicas-de-seguranca-container h1 {
    color: var(--amarelo);
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.1em;
    letter-spacing: 0.1em;
    text-wrap: nowrap;
}

.dicas-de-seguranca-container p {
    display: list-item;
}

.dicas-de-seguranca-container>p>span {
    color: var(--amarelo);
}

.regulavel {
    text-indent: 0px;
    gap: 80px;
}

.regulavel-info>p {
    padding: 0;
    margin: 0;
}


.regulavel img {
    height: 350px;
}
.specs-grid-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    max-width: 900px;
    gap: 10px 20px;
    padding: 20px;
    background-color: #181818;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    color: #d0d0d0;
    text-indent: 0px;
    margin-bottom: 80px;
}

.specs-grid-item-name,
.specs-grid-item-value {
    padding: 5px;
    margin: auto 0px;

}

.specs-grid-item-name {
    text-align: right;
    font-weight: bold;
}

.specs-grid-item-line {
    margin-top: 3px;
    height: 2px;
    background-color: var(--amarelo);
    width: 10px;
    margin: auto;
}

.specs-grid-item-value {
    text-align: left;
    font-weight: normal;
}

.especificacoes-container {
    margin-bottom: 80px;
}

.especificacoes-tecnicas {
    text-align: center;
    margin: 0px auto;
}

.traco-especificacoes {
    border: 2px solid gray;
    margin: 20px auto;
    width: 80px;
}
/* ########## MANUAL ########## */

@media (min-width: 800px) {

    .card-grid {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1000px;
        grid-template-areas:
            "sua-carne sua-carne como-funciona"
            "sua-carne sua-carne praticidade"
            "inoxaisi304 suporta praticidade"
            "inoxaisi304 regulavel regulavel "
            "materiais materiais materiais";
    }

    .svg-espeto {
        width: 400px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
        transform-origin: 48%;
        transform: rotate(180deg);
    }

    .img-hero-simples {
        max-width: 700px;
    }

    .card-grid-simples {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "garra simples-com-garra praticidade"
            "garra simples-com-garra praticidade"
            "inoxaisi304 simples-com-garra suporta"
            "inoxaisi304 simples-com-garra regulavel"
            "materiais materiais materiais";
    }

    .card-grid-duplo {
        grid-template-columns: repeat(3, 1fr);
        width: clamp(700px, 90%, 1200px);
        grid-template-areas:
            "espeto-duplo-desmontado espeto-duplo-desmontado espeto-duplo-principal"
            "espeto-duplo-desmontado espeto-duplo-desmontado espeto-duplo-principal"
            "detalhe-ponteira-espeto-duplo detalhe-ponteira-espeto-duplo espeto-duplo-principal"
            "detalhe-ponteira-espeto-duplo detalhe-ponteira-espeto-duplo praticidade"
            "inoxaisi304 suporta ponta-desmontada-espeto-duplo"
            "inoxaisi304 regulavel regulavel "
            "materiais materiais materiais";
    }

    .card-grid-triplo {
        grid-template-columns: repeat(7, 1fr);
        width: clamp(700px, 90%, 1200px);
        gap: 10px;
        grid-template-areas:
            "triplo-desmontado triplo-desmontado triplo-em-pe triplo-em-pe triplo-principal triplo-principal triplo-principal"
            "inoxaisi304 inoxaisi304 suporta suporta suporta praticidade praticidade"
            "inoxaisi304 inoxaisi304 regulavel regulavel regulavel praticidade praticidade"
            "materiais materiais materiais materiais materiais materiais materiais";
    }

    .card-grid-petiscos {
        grid-template-columns: repeat(7, 1fr);
        width: clamp(700px, 90%, 1200px);
        gap: 10px;
        grid-template-areas:
            "petiscos-principal petiscos-principal petiscos-principal petiscos-principal petiscos-em-pe petiscos-em-pe petiscos-em-pe"
            "inoxaisi304 inoxaisi304 suporta suporta suporta praticidade praticidade"
            "inoxaisi304 inoxaisi304 regulavel regulavel regulavel praticidade praticidade"
            "materiais materiais materiais materiais materiais materiais materiais";
    }
}

@media (max-width: 799px) {

    .navbar {
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    .links>:last-child {
        display: none;
    }

    .hero-text {
        justify-content: center;
        align-items: center;
        gap: 30px;
        text-align: center;
    }

    .espeto-giratorio-aleggra>h2 {
        text-align: center;
    }

    .hero-text>h1 {
        text-align: center;
    }

    .hero-img {
        display: none;
    }

    .saiba-mais-btn {
        display: none;
    }

    .hero-btns {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-espetos {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .hero-espetos-title {
        gap: 10px;
        padding-bottom: 40px;
    }

    .svg-espeto {
        max-width: 300px;
        padding-top: 20px;
        padding-bottom: 20px;
        transform-origin: 50%;
        transform: rotate(180deg);
    }

    .img-hero-simples {
        min-width: 200px;
    }

    .card-grid {
        grid-template-columns: 1fr;
        grid-template-areas:
            "sua-carne"
            "como-funciona"
            "praticidade"
            "inoxaisi304"
            "suporta"
            "regulavel"
            "materiais";
    }

    .card-grid-simples {
        grid-template-columns: 1fr;
        gap: 10px;
        padding-inline: 30px;
        grid-template-areas:
            "simples-com-garra"
            "garra"
            "praticidade"
            "inoxaisi304"
            "suporta"
            "regulavel"
            "materiais";
    }

    .card-grid-duplo {
        grid-template-columns: 1fr;
        padding-inline: 30px;
        gap: 10px;
        grid-template-areas:
            "espeto-duplo-desmontado"
            "espeto-duplo-principal"
            "detalhe-ponteira-espeto-duplo"
            "ponta-desmontada-espeto-duplo"
            "praticidade"
            "inoxaisi304"
            "suporta"
            "regulavel"
            "materiais";
    }

    .card-grid-triplo {
        grid-template-columns: 1fr;
        padding-inline: 30px;
        gap: 10px;
        grid-template-areas:
            "triplo-desmontado"
            "triplo-em-pe"
            "triplo-principal"
            "inoxaisi304"
            "suporta"
            "praticidade"
            "regulavel"
            "materiais";
    }

    .card-grid-petiscos {
        grid-template-columns: 1fr;
        padding-inline: 20px;
        gap: 10px;
        grid-template-areas:
            "petiscos-principal"
            "petiscos-em-pe"
            "inoxaisi304"
            "suporta"
            "praticidade"
            "regulavel"
            "materiais";
    }
}