* {
    padding: 0;
    margin: 0;
}

:root {
    --amarelo: #F9A44C;
    --azul: #4888FF;
    --roxo: #864AFF;
    --branco: #fff;
    --vermelho: #AB3434;
    --cinza-claro: #f9f9f9;
    --grafite: #424242;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: #1a1a1a;
}

h1 {
    font-weight: bold;
    font-size: 2em;
    line-height: 1em;
}

h2 {
    font-size: 1em;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


header {
    position: absolute;
    z-index: 10;
    width: 100%;
    padding-block: 10px;
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding-inline: 40px;
    max-width: 900px;
    min-width: 200px;
}

.navbar>.links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.navbar>.logo {
    width: 80px;
}

.btn-produtos {
    padding: 20px 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    place-self: flex-end;
}

.btn-produtos:hover>p {
    color: var(--amarelo);
    transition: 200ms;
}

.btn-baixar-manual {
    padding: 20px 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.btn-baixar-manual:hover>p {
    transition: 200ms;
    color: var(--amarelo);
}

.hero {
}

.hero-text>h1 {
    font-size: 3em;
    line-height: 1em;
    text-align: left;
}

.container-hero {
    padding: 120px 50px 0px 50px;
    color: white;
}

.hero-text {
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
}

.espeto-giratorio-aleggra {
    color: rgb(255, 255, 255);
    border-right: 1px solid var(--amarelo);
    width: fit-content;
    font-size: 0.7em;
    font-weight: 100;
    padding-right: 20px;
    padding-block: 15px;
    letter-spacing: .4em;
    margin: 0px;
    text-align: left;
    margin-left: 3px;
}

.espeto-giratorio-wrapper {
    flex-wrap: nowrap;
    gap: 20px;
}

.espeto-giratorio-wrapper>img {
    width: 80px;
}

.hero-btns {
    gap: 20px;
    padding-block: 30px;
    font-weight: bold;
}

.hero-img {
    max-height: 100%;
    max-width: 100%;
    padding: 30px;
}

@media (max-width: 699px) {

    .hero-text {
        justify-content: center;
        align-items: center;
        gap: 30px;
        text-align: center;
    }

    .espeto-giratorio-aleggra>h2 {
        text-align: center;
    }

    .hero-text>h1 {
        text-align: center;
    }

    .hero-img {
        display: none;
    }

    .saiba-mais-btn {
        display: none;
    }

    .hero-btns {
        padding-bottom: 100px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

.hero-img>img {
    max-height: 100%;
    max-width: 180px;
    width: auto;
    height: auto;
    transform: rotate(-10deg);
    z-index: -1;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.comprar-btn,
.saiba-mais-btn {
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10px 50px;
    border: 1px solid var(--amarelo);
    border-radius: 100vw;
    z-index: 20;
}

.comprar-btn:hover,
.saiba-mais-btn:hover {
    background-color: var(--amarelo);
    color: black;
    transition: all .3s ease-in-out;
}

.span-yellow {
    color: var(--amarelo);
}

.card-grid {
    display: grid;
    margin: auto;
    padding-inline: 16px;
    padding-block: 60px;
    gap: 20px;
    grid-template-columns: minmax(0, 1fr);
}

.card-grid-item {
    border-radius: 0.9em;
    padding: 16px;
    background-color: var(--cinza-claro);
    border: 1px solid rgba(0,0 ,0 , 0.2);
    text-align: center;
    grid-column: span 1;
    grid-row: span 1;
    align-items: center;
    justify-content: center;
}

.card-title {
    padding-block: 30px;
}

.card-title>h1 {
    padding-block: 10px;
}

.card-grid-item>img{
    padding-block: 40px;
    max-width: 300px;

}

.praticidade > img {
    margin-bottom: -50px;
    margin-left: -15px;
    transform: scale(1.1);
}

.praticidade>.card-title>p{
    max-width: 300px;
}

.inoxaisi304 {
    overflow: hidden;
}

.inoxaisi304>img {
    margin-bottom: -60px;
}

.como-funciona {
    padding-block: 40px;
}

.como-funciona>p {
    max-width: 300px;
}

.como-funciona>img {
    max-width: 110px;
    padding-block: 20px;
}


.como-funciona span {
    font-weight: bold;
}


.sua-carne-no-seu-ponto {
    flex-wrap: nowrap;
    text-wrap: nowrap;
}

.sua-carne-no-seu-ponto>h1 {
    text-align: left;
    font-size: 1.8em;
    line-height: 0.9em;
    margin-left: -1em;
    margin-top: -.8em;
}

.sua-carne-no-seu-ponto>img {
    max-width: 150px;
}

.materiais-do-espeto-card-wrapper {
    flex-wrap: wrap;
    gap: 40px;
    padding: 16px;
}

.materiais-do-espeto-card {
    max-width: 300px;
    flex-wrap: nowrap;
    gap: 20px;
}

.materiais-do-espeto-card > img {
    max-height: 100px;
    filter:saturate(0%) brightness(0%);

}

.materiais-do-espeto-card-text > h1,
.materiais-do-espeto-card-text > p    {
    max-width: 9em;
    text-align: left;
    font-size: 1em;
}

.traco-materiais-do-espeto-card {
    border-left: 1px solid rgb(148, 148, 148);
    height: 60px;
}

footer {
    margin: 0;
    padding: 0;
    width: 100%;
}

.rodape {
    background-color: rgb(16, 16, 16);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 50px;
}

.rodape>img {
    max-width: 80px;
}

.rodape>p {
    font-size: 1.8em;
    text-align: center;
    line-height: 1.1em;
    max-width: 400px;
    padding-inline: 50px;

}

.rodape>.links-rodape {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.rodape>.links-rodape>a {
    text-decoration: none;
    color: gray;
}

.rodape>.links-rodape>a:hover,
a:focus {
    text-decoration: none;
    color: var(--amarelo);
    transition: color 200ms;
}

.container-card-espetos {
    width: auto;
    gap: 60px;
    margin: 40px 50px;
}

.card-espetos-topo,
.card-espetos-baixo {
    gap: 60px;
}

.card-espetos {
    border: 2px solid var(--azul);
    background-color: var(--cinza-claro);
    padding: 40px;
    width: 200px;
    height: 350px;
    border-radius: 20px;
    color: rgb(47, 56, 68);
    overflow: hidden;
    transition: all .2s ease-in-out;
    text-indent: 0px;
    position: relative;
    text-align: left;
}

.card-espetos>img {
    max-width: 300px;
    position: absolute;
    bottom:-10px;
    right:20px
}

.card-espetos:hover {
    transform: rotate(-0.7deg) scale(1.1);
    border-color: var(--amarelo);
    cursor: pointer;
}

.confira {
    position: absolute;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 100vw;
    border: 2px solid var(--azul);
    right: 30px;
    bottom: 30px;
    color: var(--azul);
    font-weight: bold;
}

.card-espetos:hover>.confira {
    color: inherit;
    border: inherit;
}

.conheca-os-modelos {
    padding-block: 130px;
    text-align: center;
    color: white;
}


.conheca-os-modelos-text {
    margin-bottom: 30px;
    gap: 10px;
    padding-inline: 50px;
}

.card-videos-wrapper {
    gap: 50px;
    padding: 50px 20px 100px 20px;
}

.card-video {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    max-width: 400px;
    width: auto;
    height: auto;
    overflow: hidden;
    background-color: var(--cinza-claro);
    padding: 40px;
    border-radius: 20px;
    text-align: left;
    border-top: 3px solid var(--amarelo);
}

.card-video-text-wrapper {
    max-width: 290px;
    padding-left: 10px;
}

.card-video-text-wrapper>p {
    color: rgb(101, 101, 101);
    padding-bottom: 10px;
    font-size: 0.8em;
    letter-spacing: 1px;
}

.card-video-text-wrapper>h1 {
    padding-block: 5px;
    color: rgb(37, 37, 37);
    font-size: 1.8em;
}

.card-video-text-wrapper>h2 {
    padding-bottom: 20px;
    font-weight: lighter;
    color: rgb(37, 37, 37);
}


.video-crop {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    user-select: none;
    pointer-events: none;
}

.video-crop>video {
    max-width: 300px;
    margin: -5px;
}

.super-versatil-text {
    gap: 10px;
    color: white;
    padding-inline: 50px;
    text-align: center;
    margin: auto;
}

/* ######  FAQ  ###### */

.container-faq-wrapper {
    padding-bottom: 50px;
    color: white;
}

.container-faq-wrapper>h1 {
    padding-bottom: 30px;
    padding-inline: 40px;
    text-align: center;

}

.faq-wrapper {
    width: 80%;
    max-width: 800px;
    height: fit-content;
    flex-wrap: nowrap;
    flex-grow: initial;
    gap: 10px;
    padding: 20px;
}

.faq-question>p {
    max-width: 90%;
}

.faq-question {
    width: 100%;
    cursor: pointer;
    padding: 20px 30px;
    text-align: left;
    font-size: 15px;
    transition: all 0.4s ease-in-out;
    justify-content: space-between;
    align-items: center;
    border-top: 0px solid rgb(56, 56, 56);
    background-color: #202020;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

.active,
.faq-question:hover {
    background-color: #4a4a4a;
    color: #ffffff;
}

.faq-answer {
    width: 100%;
    padding: 40px 30px;
    font-size: 1em;
    background-color: #f1f1f1;
    color: #1c1b1b;
    border-radius: 10px;
    display: none;
    overflow: hidden;
    transition: display 2s ease-out;
}

.faq-answer>h1 {
    padding-bottom: 20px;
    font-size: 1.5em;
}

.faq-answer>p {
    font-size: 1em;
    letter-spacing: .01em;
}

.faq-answer>strong {
    font-weight: bold;
}

.arrow {
    transition: transform 0.2s;
    transform: rotate(0deg);
}

.arrow:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-top: 2px solid rgb(158, 158, 158);
    border-right: 2px solid rgb(158, 158, 158);
    transform: translate(3px, -2px) rotate(45deg);
}

.arrow.down {
    transform: translateY(-50%) rotate(90deg);
}

@media (min-width: 800px) {
    .span-2-row {
        grid-row: span 2;
    }

    .span-2-col {
        grid-column: span 2;
    }
    
    .card-grid {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1000px;
        grid-auto-flow: dense;
    }

    .inoxaisi304 {
        grid-column: span 3;
    }

    .materiais-do-espeto {
        grid-column: span 3;
    }

    .materiais-do-espeto-card-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

}